# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven
target/

# Gradle
.gradle
build/

# IntelliJ
*.iml
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
